.listBody{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  height: 0;
  scrollbar-gutter: stable;
  transition: height 1s;
  animation: openList 1.5s forwards;
}

@keyframes openList {
  from{
    height: 0;
  }
  to{
    height: calc(100vh - 10rem);
  }
}


.mainRow, .listEl, .filterRow{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-content: center;
  justify-items: center;
  padding: 2.8rem 3.6rem;

}

/* FILTER ROW */
.filterRow{
  gap: 2rem;
  height: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  border: 1px solid #bbb;
  border-top: none;

}

@keyframes showRow {
 from{
  display: none;
  height: 0;
 }
 to{
  display: grid;
  height: 10rem;
 }
}

@keyframes hideRow {
  from{
   display: grid;
   height: 8rem;
  }
 }
 
  to{
   display: none;
   height: 0;
  }


.openFilters img{
  cursor: pointer;
  transition: all 0.3s;
}

.openFilters img:hover{
  transform: scale(1.2);
}


.filterRow select{
  width: 18rem;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0;
  border: 1px solid #bbb;
  transition: 0.3s;
}

.filterRow select:focus{
  box-shadow: none;
  border: 1px solid #099268;
}

.filterRowText{
  font-size: 2rem;
}

.filterRow select, .resetFilterBtn{
  color: #333;
  font-size: 1.6rem;
  border-radius: 8px;
 cursor: pointer;
}

.resetFilterBtn{
  outline: 2px solid #099268;
  color: #099268;
  text-align: center;
  background-color: #fff;
  grid-column: 7;
  transition: 0.2s;
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  white-space: nowrap;
}


.resetFilterBtn:hover{
  background-color: #099268;
  color: #fff;
}

.mainRow{
  color: #e7f6f2;
  background-color: #099268;
  font-size: 2.2rem;
}


.type, .data{
  text-align: center;
}




.listEl{
  border: 1px solid #ccc;
}

.data{
  color: #444;
  font-size: 1.8rem;

}

.mov--sell div:nth-child(4), .mov--buy div:nth-child(4){
  color: #099268;
  font-weight: 500;
}

.mov--buy div:nth-child(4){
  color: #fa5252;
}